html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}
/* Calculadora */
.calculadora {
    width: 100%;
    padding: 20px;
    margin: auto;
    text-align: center;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    outline: none;
}

/* Contenedor del tipo de alquiler */
.conten-alquiler {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px; 
    outline: none;
    font-size: 16px;
    text-align: center;
    background: none;
    color: black;
}

/* Checkbox */
.calculadora input[type="checkbox"] {
    position: relative;
    top: 4px;
    appearance: none; /* Hide default checkbox style */
    width: 20px;
    height: 20px;
    border-radius: 50%; /* Create a circle for the checkbox */
    border: 2px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}

/* Checkbox (when selected) */
.calculadora input[type="checkbox"]:checked {
    background-color: #333; 
}

.conten-horario {
    margin-top: 20px;
    border-radius: 8px;
    padding: 10px;
}

/* Recuadro de horario */
.horario {
    width: 100%;
    margin: 10px;
    border: 2px solid #ccc;
    border-radius: 8px; 
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.calculadora input[type="number"],
.calculadora input[type="text"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    text-align: center;
    border-radius: 9px; 
    border: 2px solid #ccc;
    outline: none;
}

.mensaje-error {
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
}
@media (max-width: 768px) {
    .conten-horario{
        padding: 0;
        margin: 20px 0;
        width: 100%;


    }
    .horario {
        margin: 5px;
    }
}